.i*
data/clustering/*
data/headshots/*
data/images/*
data/house_cluster.csv
__pycache__
archived/*
Untitled*
.vs*
mmod_human_face_detector.dat
data/test_videos/*
research/data/labelbox_images.zip
research/data/retina
research/data/retina_quant
research/data/retina.zip
research/data/retina_converted
temp

